<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
		
	<!-- Property File config -->
	<context:property-placeholder location="classpath:scim-admin.properties"/>
	
	<!--DB -->
	<!-- SCIM Database Stuff starts -->
	<bean id="scimDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.scim.driver}" />
		<property name="url"
			value="${db.scim.url}" />
 		 <!-- <property name="username" value="scim_stage" />
		<property name="password" value="scim_stage" />   -->
		<property name="username" value="${db.scim.username}" />
		<property name="password" value="${db.scim.password}" />
		<!-- <property name="username" value="scim_prod" />
		<property name="password" value="scim_prod" />--> 
		
	</bean>
	<bean id="scimsessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="scimDataSource" />		
		 <property name="packagesToScan">
			<list>
				<value>com.cisco.swtg.scim.model.scimmodel</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.Oracle9Dialect
				connection.provider_class=org.hibernate.connection.C3P0ConnectionProvider
				c3p0.acquire_increment=1
				c3p0.idle_test_period=100
				c3p0.min_size=5
				c3p0.max_size=20
				c3p0.timeout=300
				show_sql=false
				c3p0.max_statements=50
				current_session_context_class=thread
				configurationClass=org.hibernate.cfg.AnnotationConfiguration
				connection.SetBigStringTryClob=true
			</value>			                
		</property>
	</bean>
	<bean id="scimhibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="scimsessionFactory" />
		</property>
	</bean>
	<bean id="scimhibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="scimsessionFactory" />
	</bean>
	
	<bean id="scimtransactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="scimhibernateTransactionManager" />
	</bean>
	<!-- SCIM Database Stuff ends -->
	
	
	<!-- C3BL Database Stuff starts -->
	<bean id="c3DataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.c3bl.driver}" />
		<!-- <property name="url"
			value="jdbc:oracle:thin:@prd-db8.cisco.com:1522:ctspdm" />
		<property name="username" value="XXCTS_CRWSDM_U" />
		<property name="password" value="RBYI8F9L" /> -->
		
		<!-- <property name="url"
			value="jdbc:oracle:thin:@lnxdb-prd-191-vip.cisco.com:1545:setprd" />-->
			<property name="url"
			value="${db.c3bl.url}" />			
		<property name="username" value="${db.c3bl.username}" />
		<property name="password" value="${db.c3bl.password}" />
	</bean>
	<bean id="c3SessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="c3DataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.cisco.swtg.scim.model.c3blmodel</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.Oracle9Dialect
				connection.provider_class=org.hibernate.connection.C3P0ConnectionProvider
				c3p0.acquire_increment=1
				c3p0.idle_test_period=100
				c3p0.min_size=5
				c3p0.max_size=20
				show_sql=false
				c3p0.timeout=300
				c3p0.max_statements=50
				current_session_context_class=thread
				configurationClass=org.hibernate.cfg.AnnotationConfiguration
				connection.SetBigStringTryClob=true
			</value>
		</property>
	</bean>
	<bean id="c3hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="c3SessionFactory" />
		</property>
	</bean>
	<bean id="c3hibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="c3SessionFactory" />
	</bean>
	<bean id="c3transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="c3hibernateTransactionManager" />
	</bean>
	<!-- C3BL Database Stuff ends -->
	
	<!-- dao bean starts-->
	<!-- DAO for c3bl db-->
	<bean id="c3blDAO" class="com.cisco.swtg.scim.dao.c3bldao.C3blDAOImpl">
		<property name="c3hibernateTemplate">
			<ref bean="c3hibernateTemplate" />
		</property>
	</bean>
	<!-- DAO for scim db-->
	<bean id="crawlDAOImpl" class="com.cisco.swtg.scim.dao.scimdao.CrawlDAOImpl">
		<property name="scimhibernateTemplate">
			<ref bean="scimhibernateTemplate" />
		</property>
	</bean>
	<!-- dao bean ends-->
	
	
	<!-- PORTKEY client starts here -->
	<bean id="httpClientParams" class="org.apache.commons.httpclient.params.HttpClientParams"> 
        <property name="authenticationPreemptive" value="true"/> 
        <property name="connectionManagerClass"
                  value="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager"/> 
    </bean> 
    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient"> 
        <constructor-arg ref="httpClientParams"/> 
    </bean> 
    <bean id="credentials" class="org.apache.commons.httpclient.UsernamePasswordCredentials"> 
        <constructor-arg value="scim.gen"/> 
        <constructor-arg value="5C1MDev"/> 
    </bean> 
    <bean id="httpClientFactory" class="org.springframework.http.client.CommonsClientHttpRequestFactory"> 
        <constructor-arg ref="httpClient"/> 
    </bean> 
  
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"> 
        <constructor-arg ref="httpClientFactory"/> 
  
        <property name="messageConverters"> 
            <list> 
                <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"> 
                    <property name="marshaller" ref="jaxbMarshaller"/> 
                    <property name="unmarshaller" ref="jaxbMarshaller"/> 
                </bean> 
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"/> 
            </list> 
        </property> 
    </bean> 
  
    <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller"> 
        <property name="classesToBeBound"> 
            <list> 
                <value>com.cisco.swtg.scim.model.cscmodel.CSCMessagesByThreadId</value> 
            </list> 
        </property> 
    </bean> 
	
	<!-- PORTKEY client ends here -->
</beans>
