.masterbrand .xwtRepeater{
	margin: 0px 8px 0px 8px;
	padding :0px;
	overflow:auto;/* set repeater to have custom scroll bar hidden*/	
	background-color: #FAF9F9;
}


.masterbrand .xwtTitlePaneContentInner  .xwtRepeater{
	margin: 0px; 
}

.masterbrand .xwtOverlay .xwtRepeater{
	overflow:auto;
	width:auto;
	width:auto;
	margin:0;
}

.masterbrand .xwtRepeater .repeaterTitle{
	color:#000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding-top:9px;
	
}

.masterbrand .dj_ie7 .xwtRepeater .repeaterTitle{	
	margin-left:0px;
}
		

.masterbrand .xwtRepeater .dojoDndItemOver{
	cursor:default;
}

/* repeaterItem dragHandle -- see RepeaterItem template*/
.masterbrand .xwtRepeaterItem .dojoDndHandle{
		margin-top:4px;
		margin-left:2px;
		margin-right:2px;
		width: 6px;  /*repeater-item Dnd Gripper width */
		height: 21px;
	    float:left;
		background: url(../images/repeater/gripper.png);		
}

.dj_ie .masterbrand .xwtRepeaterItem .dojoDndHandle{
	margin-right:4px;  /*ie8 drop handle is too close the widgetContainer */
}

/*.xwtRepeaterItem{
			margin: 0px 0px;
			padding: 5px;
			background: #efefef;
			border: 1px sold #ccc;	
			min-height:21px; 
			border-bottom:thin solid #d5dbdf;
}*/
/*DE1301*/
.masterbrand .xwtRepeaterItem {
			margin: 0px 0px;
			padding-top:2px;
			padding-left:2px;
			padding-right:8px;
			padding-bottom:0px;
			padding-bottom:0px;
			background: #FAF9F9;			
			/*min-height:21px;*/ /* take out min-height to avoid conflict with dojoDndItemAnchor */
			border-bottom:1px solid #dadee0; /*repeater item separator */	
			height:32px;		
}
.repeaterItemTitleRow{
	border-bottom:none;
	background: #FAF9F9;
	padding-bottom:0;
	padding-left: 8px; /*Title text is 8px alway from left edge */
	padding-top: 4px;
}

.masterbrand .xwtRepeaterItemTitleRow{
	border-bottom:none;
	background: #E8EDF1;
	padding-bottom:0;
	
}
.masterbrand .xwtRepeaterItemLastRow{
	/*border-bottom:none;*/
	padding-bottom:5px;
}

/*
 Orders of Normal, OddRow, EvenRow, ItemHover ItemDown are important
 */
.masterbrand .xwtRepeaterItemNormal{
	background-color: #FAF9F9;
}

/*
 * alternate colors. say items from 1 to 5.
 * r1,r3,r5  in .repeaterItemOddRow
 * r2, r4  in .repeaterItemEvenRow
 */
.masterbrand .repeaterItemOddRow{
	background-color:#FAF9F9;
}

.masterbrand .repeaterItemEvenRow{
	background-color: #FAF9F9 ;
}



.masterbrand .repeaterItemHover{
	background-color: #e4e5e6; /*hover repeater item */
}

.masterbrand .repeaterItemDown{
	background-color: #c2cbd1;/*selected repeater item */
}

.masterbrand .repeaterItemOnDnDStart{	
	background-color: *#D7DABA;
}

.masterbrand .repeaterItemOnDnDDrop{
	background-color: #a1b6c4;
}

.masterbrand .dndListContainer .dojoDndItem {
	width: 100%; border: 1px solid green; margin: 3px;
}

/* repeaterItem widgetContainer -- see RepeaterItem template*/
.masterbrand .xwtRepeaterItem .widgetContainer{
	/*width: 300px;*/ 
	/*float:left;*/
	margin: 4px 0px 0px 0px;
	padding-right:0px;
	padding-bottom: 5px;
	/*display:inline-block;*/
	/*width:99%;*/
}

.masterbrand .xwtOverlay .xwtRepeaterItem .widgetContainer{
	float:left;
}

/*ie_7 tweak start  IE-7 has alignment issue.  */
.masterbrand .dj_ie7 .xwtRepeaterItem {
	display:inline;
}
.masterbrand .dj_ie7 .xwtOverlay .xwtRepeaterItem {
	display:inline-block;
}

.masterbrand .dj_ie7 .xwtRepeaterItem .widgetContainer{
	display:inline-block;
}
/*ie_7 tweak end */


/* repeaterItem disable state style*/
.masterbrand .repeaterItemWidgetDisabled{
	border-color:#BDC1C4 !important;
	opacity:0.3 !important;
}



/* repeaterItem drag on the air. the target above and below.   say items from 1 to 5. when r4 is on drag between r2 and r3.
 * r2 use  .repeaterItemDnDTargetAbove
 * r3 use  .repeaterItemDnDTargetBelow 
 */
.masterbrand .repeaterItemDnDTargetAbove {	
	background: #9f9e9e;
}

.masterbrand .repeaterItemDnDTargetBelow {	
	background: #b5b4b4;
}

.masterbrand .xwtRepeaterItem .dijitInputField input, 
.masterbrand .xwtRepeaterItem .dijitTextArea, 
.masterbrand .xwtRepeaterItem .dijitTextBox, 
.masterbrand .xwtRepeaterItem .xwtValidationTextBox, 
.masterbrand .xwtRepeaterItem .dijitComboBox, 
.masterbrand .xwtRepeaterItem .dijitSpinner {
	margin:0px 4px 0px 2px;
}

/*notifiction in repeater*/
.masterbrand .xwtRepeater .dijitValidationIcon,
.masterbrand .xwtNotification .xwtRepeater .dijitValidationIcon {
	position: absolute;
	height: 0px !important;
	width: 0px !important;	
}

.masterbrand .xwtRepeater .notificationBackground{
	background: #FCDCDF;
	border-color: #EC2622;
	border:1px solid red;
}

.masterbrand .xwtRepeater .notificationBackgroundRepeaterItem{
	background: #FCDCDF;
}

.masterbrand .xwtRepeater .notificationBackgroundAO{		
	border:1px solid #EC2622;
}

.masterbrand .xwtRepeater .xwtRepeaterProgressIcon{
	background: url("../images/misc/progress_indicator_16_gray_antialiased_lightgray.gif") no-repeat top left;
	height:16px;
	padding:2px 22px	
}

/*DnD avatar start http://docs.dojocampus.org/dojo/dnd#user-interface */
.masterbrand  .dojoDndAvatar.xwtRepeaterAvatar{
	min-width:600px;
	opacity:0.8;
}

.masterbrand  .dojoDndAvatar.xwtRepeaterAvatar .dojoDndAvatarItem{
	padding:0px;
}

.masterbrand  .dojoDndAvatar.xwtRepeaterAvatar .dojoDndAvatarItem .xwtRepeaterItem {
	background-color: #D3DFEA;
	min-width:600px;	
	opacity:0.8; 
	margin:0px;
	padding:4px 4px 0px 4px;
}

.dj_ie8 .masterbrand  .dojoDndAvatar.xwtRepeaterAvatar .dojoDndAvatarItem .xwtRepeaterItem {	
	padding-top:4px;
}
.dj_ie8 .masterbrand TABLE.dojoDndAvatar.xwtRepeaterAvatar{
	border:0px;
	font-size:12px;
}


.masterbrand .dojoDndAvatar.xwtRepeaterAvatar .dojoDndAvatarItem td {
	padding:0px;
	border:0px;
}



.masterbrand  .dojoDndAvatar.xwtRepeaterAvatar .dojoDndAvatarHeader{
	display:none; /*hide head the red/green bar showing drop-able or not */
}

/* the follwoing two lines set the line syle between two items.  drop between Before and After nodes. From tundra common.css*/
.masterbrand  .xwtRepeater .dojoDndItemBefore,
.masterbrand  .xwtRepeater .dojoDndItemAfter {
	border-top: 2px solid #60E4FB;
}


/*DnD avatar end */

/*DnD dojoDndItemAnchor start -- in masterbrand, the item being dragged has special UI. This node is marked by dojoDndItemAnchor class  */
/* because implementing space-left-behind cause an issue.  click DnD gripper without dragging will cause item collapse, not a user-friendly move
.masterbrand .xwtRepeater .dojoDndItemAnchor {
	
	background: url(../images/repeater/bg_spaceHolder.png);	
	background-repeat:repeat-x;
	opacity:0.8;
	height:8px;
	padding-top:0px;
	
}g
.masterbrand .xwtRepeater .dojoDndItemAnchor .xwtRepeaterItem{
	max-height:8px;
	min-height:8px;
	
}

.masterbrand .xwtRepeater .dojoDndItemAnchor .dojoDndHandle,
.masterbrand .xwtRepeater .dojoDndItemAnchor .widgetContainer{
	display:none;
	height:0px;
}
*/
/*DnD dojoDndItemAnchor end */

