.masterbrand .dijitDialog.xwtAlert{
	-moz-border-radius:0px 0px 8px 8px;
	-moz-box-shadow:3px 3px 8px #393939;
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #546E8B;
	padding:0;
    color: #222222;
}

.masterbrand .xwtAlert {
	min-height: 87px;
	min-width: 306px; /* note, the minimum recommended width per specs. */
	width: 306px;
	padding: 0px;
	background: url("../images/dialog/background.png") repeat-x top left;
	border: 1px solid #7eabcd;
	-webkit-box-shadow: none !important;
}

.masterbrand .xwtAlert .dijitDialogPaneContent {
	padding: 0 !important;
	border: none;
}

.masterbrand .xwtAlert .containerTable {
	padding:11px 13px 14px 10px;
	min-width:306px;
}

.masterbrand .xwtAlert .dijitDialogTitleBar {
	padding: 8px 8px 8px 8px;
	cursor: move;
	outline:0;
	display: none;
}

.masterbrand .xwtAlert .dijitDialogTitle {
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.masterbrand .xwtAlert .dijitDialogCloseIcon {
	background: url("../images/dialog/close.png") no-repeat right top;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie6 .masterbrand .xwtAlert .dijitDialogCloseIcon {
	background: url("../images/dialog/close.png") no-repeat right top;
}


.masterbrand .dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 950;
	display: none;
	background: transparent !important;
}

.masterbrand .dijitDialogUnderlay {
	background: #000;
	/*Removed b/c the underlay opacity rule is conflicting with Dialog.css's underlay rule*/
	/*opacity: 0.6;*/
	
}

.dj_ie .masterbrand .dijitDialogUnderlay {
	filter: alpha(opacity=60);
}

.masterbrand .xwtAlert .middle-center {
	font-weight: bold;
}

.masterbrand .xwtAlert .xwtAlert-warning{
	min-height: 32px;
	line-height: 16px;
	padding-left: 46px;
	background: url("../images/messagebox/AlertWarning32.png") no-repeat 0 4px;
}

.masterbrand .xwtAlert .xwtAlert-information {
    min-height: 32px;
	line-height: 16px;
	padding-left: 46px;
	background: url("../images/messagebox/alert_informational_2009_256-alert_informational_2009_32.png") no-repeat left top;
}

.masterbrand .xwtAlert .xwtAlert-critical {
    min-height: 32px;
	line-height: 16px;
	padding-left: 46px;
	background: url("../images/messagebox/alert_critical_2000_256-alert_critical_2000_32.png") no-repeat left top;
}

.masterbrand .xwtAlert .xwtDontShowAgainMessage{
	font-family: Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	margin-top: 11px;
	text-align: left;
	/* color: #000000; */
}

.masterbrand .form-field * {
    vertical-align: top;
    color: red !important;
}


.masterbrand .xwtAlert .xwtMessageNumber {
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	margin-top: 18px;
	text-align: left;
	/* color: #000000; */
}

.masterbrand .xwtAlert .xwtMessageNumber {
	margin-top: 10px;
}

.masterbrand .xwtAlert .xwtDontShowAgainMessage input {
	margin-right: 3px;
	margin-top: 2px;
}

.masterbrand .xwtAlert .xwtMessageNumber span {
	font-weight: normal;
}

.masterbrand .xwtAlert .xwtHelpText {
	margin-bottom: 18px;
	text-align: right;
}

.masterbrand .xwtAlert .xwtHelpText a {
	text-decoration: none;
	color: #0088C2;
}

.masterbrand .xwtAlert .buttonPane {
	margin: 13px -4px 0 0 !important;
}

.masterbrand .xwtDontShowLabel {
	vertical-align: top;
}
