/*		 NOTE: You'll need a containing element with class="xwtNotification" set up in your HTML
		 for the rules in this file to be effective.  Using this specific class allows for
		 styling the notification dialogs and inputs differently than the default
		 tundra/kubrick/masterbrand dialogs and inputs.
/*		

/****** TextBox/ComboBox Error State ******/
.masterbrand .xwtNotification .dijitTextBoxError,
.masterbrand .xwtNotification .dijitComboBoxError {
	position: relative;
	/*margin-right: 21px; sitepen value*/
	margin-right: 0px;
	border-color: #F00;
	background: #FCDCDF;
	
}

.dj_ie6 .masterbrand .xwtNotification .dijitTextBoxError,
.dj_ie6 .masterbrand .xwtNotification .dijitComboBoxError, 
.dj_ie7 .masterbrand .xwtNotification .dijitTextBoxError,
.dj_ie7 .masterbrand .xwtNotification .dijitComboBoxError {
	filter: none; /* to get the validation icon to show up in IE6 and IE7*/
	overflow: visible; /* to get the validation icon to show up in IE6 and IE7*/
}

.dj_ie6 .masterbrand .xwtNotification .dijitError input,
.dj_ie6 .masterbrand .xwtNotification .dijitErrorFocused input {
	background: #FCDCDF !important;
}

/* TextBox/ComboBox error in focus */
.masterbrand .xwtNotification .dijitTextBoxErrorFocused,
.masterbrand .xwtNotification .dijitComboBoxErrorFocused {	
	outline: none !important;
	border: 1px solid #FFC0C4;
	-moz-box-shadow: 0 0 2px #F00;
	-webkit-box-shadow: 0 0 2px #F00;
}

/* Error TextBox in focus: IE7 does not follow the outline rules; set the border color */
.dj_ie7 .masterbrand .xwtNotification .dijitTextBoxErrorFocused,
.dj_ie7 .masterbrand .xwtNotification .dijitComboBoxErrorFocused {
    border-color: #FFC0C4 !important;
}

.masterbrand .xwtNotification .dijitValidationIcon {
	position: absolute;
	right: -20px;
	height: 16px !important;
	width: 16px !important;
	background: url("../images/messagebox/alert_critical_2000_16.png") no-repeat top left !important;
}

.masterbrand .xwtNotification .table .dijitValidationIcon { /* Prevents the validation icon from showing when used within the Table widget */
	background: none !important;
}

.dj_ie .masterbrand .xwtNotification .dijitValidationIcon {
	float: none;
	right: -21px;
	top: 1px;
}

/****** Tooltip Error State ******/

.masterbrand .dijitTooltipAbove .xwtNotification .dijitTooltipContainer,
.masterbrand .dijitTooltipBelow .xwtNotification .dijitTooltipContainer {
	width: 262px;
	padding-left: 13px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 2px;
	border: none;
	color: #CA041D;
	text-shadow: 0 1px 0 #FFF;
	background: url("../images/notification/tooltip-top.png") no-repeat left top;	
	font-size:11px; /*set tooltip content font-size to 11px*/
	font-family: Arial, Helvetica;
	font-weight: normal;
}

.masterbrand .dijitTooltipAbove .xwtNotification .dijitTooltipConnector,
.dj_ie .masterbrand .xwtNotification .dijitTooltipAbove .dijitTooltipConnector {
	width: 282px;
	height: 20px;
	left: 0;
	bottom: -7px;
	background: url("../images/notification/tooltip-connector.png") no-repeat left top;
}

.masterbrand .dijitTooltipBelow .xwtNotification  .dijitTooltipContainer {
	padding: 22px 12px 1px;
	background: url("../images/notification/tooltip-top-below.png") no-repeat left top;	
}

.masterbrand .dijitTooltipBelow  .xwtNotification .dijitTooltipConnector,
.dj_ie .masterbrand .xwtNotification .dijitTooltipBelow .dijitTooltipConnector {
	width: 282px;
	height: 9px;
	top: auto;
	left: 0;
	bottom: -9px;
	background: url("../images/notification/tooltip-connector-below.png") no-repeat left top;
}

/****** Disabled Buttons ******/

.masterbrand .xwtNotification .xwtDisabled .dijitButtonNode {
	cursor: not-allowed !important;
	background: #EEE !important;
	border: 1px solid #CCC;
}

.masterbrand .xwtNotification .xwtDisabled.dijitButtonHover .dijitButtonNode {
	cursor: not-allowed !important;
	background: #EEE !important;
}

.masterbrand .xwtNotification .xwtDisabled .dijitButtonText {
	color: #BBB;
}

/****** Login Dialog ******/

.masterbrand .xwtNotification #loginDialog {
	padding: 15px;
	background: #EEE;
	border: 1px solid #BBB
}