.dijitRtl .masterbrand .dijitSliderProgressBarH,
.dijitRtl .masterbrand .dijitSliderRemainingBarH,
.dijitRtl .masterbrand .dijitSliderLeftBumper,
.dijitRtl .masterbrand .dijitSliderRightBumper,
.dijitRtl .masterbrand .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .masterbrand .dijitSliderProgressBarV,
.dijitRtl .masterbrand .dijitSliderRemainingBarV,
.dijitRtl .masterbrand .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .masterbrand .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .masterbrand .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .masterbrand .dijitSliderIncrementIconH {
	background-position: -7px 0px;
}

.dijitRtl .masterbrand .dijitSliderDecrementIconH {
	background-position: -14px 0px;
}
