
/* Tabs */

 .dijitTabPaneWrapper {
	/*
	overflow: hidden;
	*/
	background:#fff;
	border-color: #CCCCCC #FFFFFF #FFFFFF!important;
    border-style: solid !important;
    border-width: 1px !important;
}

 .dijitTab {
	line-height:normal;
	margin-right:5px;	/* space between one tab and the next in top/bottom mode */
	padding:0px;
	border:1px solid #ccc;
	background:#e2e2e2 url("../images/tabEnabled.png") repeat-x;
}

 .dijitAlignLeft .dijitTab,
 .dijitAlignRight .dijitTab {
	margin-right:0px;
	margin-bottom:5px;	/* space between one tab and the next in left/right mode */
}

 .dijitTabInnerDiv {
	padding:6px 10px 4px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

 .dijitTabHover,
 .dijitTabCloseButtonHover {
	color: #243C5F;
	border-top-color:#92a0b3;
	border-left-color:#92a0b3;
	border-right-color:#92a0b3;
	background:#e2e2e2 url("../images/tabHover.png") repeat-x bottom;
}

.dj_ie6  .dijitTabHover,
.dj_ie6  .dijitTabCloseButtonHover {
	background-image: url("../images/tabHover.gif");
}

 .dijitTabChecked,
 .dijitTabCloseButtonChecked
{
	/* the selected tab (with or without hover) */
	background-color:#fff;
	border-color: #ccc;
	background-image:none;
}

/* make the active tab white on the side next to the content pane */
 .dijitAlignTop .dijitTabChecked,
 .dijitAlignTop .dijitTabCloseButtonChecked
{
	border-bottom-color:white;
	vertical-align:bottom;
}

 .dijitAlignBottom .dijitTabChecked,
 .dijitAlignBottom .dijitTabCloseButtonChecked
{
	border-top-color:white;
	-moz-border-radius:2px 2px 0px 0px;	/* eliminate some border detritrus on moz */
}

 .dijitAlignLeft .dijitTabChecked,
 .dijitAlignLeft .dijitTabCloseButtonChecked
{
	border-right-color:white;
}

 .dijitAlignRight .dijitTabChecked,
 .dijitAlignRight .dijitTabCloseButtonChecked
{
	border-left-color:white;
}


/* make space for a positioned close button */
 .dijitTab .dijitClosable {
	position: relative;
	padding:6px 20px 4px 10px;
}

 .dijitTab .dijitClosable .closeImage {
	position:absolute;
	top: 7px;
	right: 3px;
	height: 12px;
	width: 12px;
	padding: 0;
	margin: 0;
	background: url("../images/tabClose.png") no-repeat right top;
}
.dj_ie6 .dijitTab .dijitClosable .closeImage {
	background-image:url("../images/tabClose.gif");
}

 .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url("../images/tabClose.png");
}
.dj_ie6  .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url("../images/tabClose.gif");
}

 .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url("../images/tabCloseHover.png");
}
.dj_ie6  .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url("../images/tabCloseHover.gif");
}

 .dijitAlignLeft .dijitTab .dijitClosable {
	padding:6px 10px 4px 20px;
}

/* correct for IE6.
    We cant force hasLayout as that blows out the shrink wrapped tabs
    ..so we shim in the closeImage position properties instead
*/
.dj_ie6  .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	left:-20px;
}

 .dijitAlignBottom .dijitTab .dijitClosable .closeImage {
	top: auto;
	bottom: 7px;
	right: 3px;
}

 .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	top: 7px;
	left: 3px;
}

.dijitContentPane {
	padding: 0px;
    overflow-x: hidden !important;
}

/* nested layouts */
 .dijitTabContainerTop-dijitContentPane,
 .dijitTabContainerLeft-dijitContentPane,
 .dijitTabContainerBottom-dijitContentPane,
 .dijitTabContainerRight-dijitContentPane,
 .dijitAccordionContainer-dijitContentPane {
	background: none;
}

 .xwtRoundedPanel[id*="XwtContentPane"] .xwtRoundedPanelContent > .dijitTabContainer:first-child .dijitTabPaneWrapper {
	background: #FFFFFF;
	border: none;              
}

 .dijitSplitContainer-dijitContentPane,
 .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		/* override background-color setting on parent .dijitBorderContainer */
	padding: 5px;
}

.dijitTab{
	-moz-border-radius:3px;
}
.dijitTabChecked, .dijitTabCloseButtonChecked  {
	border-bottom: 0 none !important;
}


#tabContaninerSearchId_tablist{
	top:2px;
}

.dijitTabContainerTop-tabs  {
    border-bottom: none !important;
}
.dijitTabListWrapper {
    left: 0 !important;
}

.dijitTab {
    margin-right: 2px !important;
}

.bssTabContainerSearch{
	min-height:180px;
	margin-top:27px;
}