.masterbrand .xwtMenuItem.dijitMenuItem td{
	padding-top:2px;
	padding-bottom:2px;	
	padding-left:5px;
}

.masterbrand .xwtPopupMenuItem.dijitMenuItem td{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;	
}

.dj_ie .masterbrand .xwtMenuItem.dijitMenuItem td{
	width: 80%;
}

.dj_ie .masterbrand .xwtPopupMenuItem.dijitMenuItem td{
	width: 80%;
}

