/* BEGIN: GroupBox */
		

.masterbrand .fieldsetarea {
	/*margin-top:10px;*/
}

.masterbrand fieldset {
	clear:left;
	margin:0px;
	padding:0px;
	width:100%;
	margin-top:12px;
	margin-left:-5px
}
.dj_ie .masterbrand fieldset {
	clear:left;
	margin:0px;
	padding:0px;
	width:100%;
	margin-top:5px;
	margin-left:-5px;
}			
.masterbrand fieldset p {
			margin:6px 0px 6px 0px;
			padding:0px 0px 0px 15px;
			color:#222222;
		}
.dj_ie .masterbrand fieldset p {
	margin:3px 0px 0px 0px;
	padding:0px 0px 0px 15px;
	color:#222222;
}

.masterbrand fieldset p.notext {
	        margin:0px;
			padding:0px;
}

.masterbrand fieldset legend {
			font-size:12px;
			font-weight:bold;
			color:#222222;
			padding:0em 0px 0px 15px;
			margin:0em;
			margin-top:7px;
		}
.dj_ie .masterbrand fieldset legend {
	font-size:12px;
	font-weight:bold;
	color:#222222;
	padding:0em 0px 0px 15px;
	margin:0em;
	margin-top:6px;
}

.masterbrand .seperator {
	clear: both;
	margin: 7px 10px 5px 10px;
	height: 1px;
	line-height: 1;
	border-top: 1px solid #B0B9BE;
	border-bottom: none;
	border-right: none; 
	border-left: none;
/* vijagraw: todo: use the approach below to achieve true opacity instea of faking the color
   this has issues with margin/padding though on IE, esp ie6
   
	background-color: rgba(132, 153, 162, 0.6);
	background-color:;
	_zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#3C8499a2, endColorstr=#3C8499a2);
	*/
}
.dj_ie .masterbrand .seperator {
	clear: both;
	margin: 7px 10px 5px 10px;
	height: 1px;
	line-height: 1;
	border-top: 1px solid #B0B9BE;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
/* IE6 fixes */
.dj_ie6 .masterbrand fieldset legend,.dj_ie7 .masterbrand fieldset legend {
			padding:0px 0px 0px 8px;
			margin:0px;
		}
.dj_ie6 .masterbrand fieldset {
	        margin:0px;
		    padding:0px;
}

/* End: GroupBox */  