/*
.masterbrand .xwtIPv6{
	height: 22px;
}
*/
.masterbrand .xwtIPv6 .xwtIpv6divalignment{
	float: left;
	/*border: thick dotted black; debug only*/
}
.masterbrand .xwtIPv6 .xwtIpv6Field {
	width:280px;
    margin-right:8px;
/*	margin-left:8px;
	padding: 2px 3px;
*/
}
.masterbrand .xwtIPv6 .xwtIpv6maskField{
	width:28px;
	margin-right:4px;
	margin-left:8px;
/*	padding: 2px 3px; */
}
.dj_ie8 .masterbrand .xwtIPv6 .xwtIpv6maskField{
	margin-right:4px;
}

/* subpress ipv6 and ipV6Mask's errorIcon*/
.masterbrand .xwtIPv6 .xwtIpv6Field .dijitValidationIcon,
.masterbrand .xwtIPv6 .xwtIpv6maskField .dijitValidationIcon{
	position: absolute;
	height: 0px !important;
	width: 0px !important;
}

/* style composite widget - ipV6andMask's errorIcon*/
.masterbrand .xwtIPv6 .dijitValidationIcon{
	position:relative;
	display:inline-block;
	right:1px;
	float:none;
	visibility:visible;
	margin-top:3px;
}

.masterbrand .xwtIpv6ErrorIconNodeHide{
		display:none;
}

/* prevent IE7 shift textbox left when notification error occur*/
.dj_ie7 .masterbrand .ipv6,
.dj_ie7 .masterbrand .xwtIPv6 .dijitInlineTable{
	display:inline-block;
}
/*.masterbrand .xwtIpv6divalignment{
	float: left;
}
.masterbrand .xwtIpv6Field{
	width:280px;
	margin-right:8px;
	margin-left:8px;
	padding: 2px 3px;
}
.masterbrand .xwtIpv6maskField {
	width:28px;
	margin-right:8px;
	margin-left:8px;
	padding: 2px 3px;
}*/
.masterbrand .xwtIPv6 .xwtNotification .xwtIpv6Field .dijitValidationIcon{
	/*top:1px;*/
}
.dj_ie .masterbrand .xwtNotification .xwtIPv6 .dijitValidationIcon {
	right:0px;
	top:-1px;
}	
}
