/*
This CSS is for xwt.widget.TextIconButton
It use 1X3 table to implement round conners.  Look into widget's template file TextIconButton.html to match the css class names
Pay  special attention round-conner images width and height. For example,in "_top-left " class, the image top-left.png is 9X13 px.
Therefore the table's top-left cell is set as width:3px and height:24px;

If you create an instance of xwt.widget.TextIconButton and you want your customized style.
1. In the TextIconButton, you set buttonCSSClassIndicato property. Such as buttonCSSClassIndicator="xwt-sample".
2. Then create a new css file, say my.css
3. In my.css, you have css like 
.xwt-sample13_left{...}. See sample_texticonbutton13.css as reference
4. In your html, make sure include my.css file.

Using same approach, you can have multiple style-customized TextIconButton in one html page (without style conflict)
Check text_TextIconButton13.html for reference.    

Note:
Since it using 1X3 table to control left-center-right background (round corner) images, it is
absolutely important to match up the height of the button with background image height. Basically,the
button is fix height.

Say the left edge image is 3X24, then you set the  
.xwt-sample13_left   {
     width: 3px;
	height: 24px;
	opacity: 1.0 }
	
You can also not set width and height. But the image width and height determine the final table cell width and height values 
    ._left   {
	opacity: 1.0 
	}
	if image is 3X24, then final table cell is still 3X24. The idea is to cut the right size image.
	This is very important when you use TextIconButton in toolbar

*/

.xwt-sample13_texticonbutton-table{
    /* border-style: solid; 
    border-width: 1px;  
    border-color: #666666; */
}

.xwt-sample13_left {	
	width: 3px;
	height: 24px;
	opacity: 1.0
}
.xwt-sample13_center {	
	opacity: 1.0
}
.xwt-sample13_right {	
	width: 3px;
	height: 24px;
	opacity: 1.0
}

.xwt-sample13_leftHover {
	background: transparent url('../images/texticonbutton/1by3/tablecontextualtoobar/hover_left.png') no-repeat;
	width: 3px;
	height: 24px;
	opacity: 1.0
}
.xwt-sample13_centerHover {
	background: transparent url('../images/texticonbutton/1by3/tablecontextualtoobar/hover_center.png');
	opacity: 1.0
}
.xwt-sample13_rightHover {
	background: transparent url('../images/texticonbutton/1by3/tablecontextualtoobar/hover_right.png') no-repeat;
	width: 3px;
	height: 24px;
	opacity: 1.0
}

.xwt-sample13_leftPressed {
	background: transparent url('../images/texticonbutton/1by3/tablecontextualtoobar/pressed_left.png') no-repeat;
	width: 3px;
	height: 24px;
	opacity: 1.0
}
.xwt-sample13_centerPressed {
	background: transparent url('../images/texticonbutton/1by3/tablecontextualtoobar/pressed_center.png');
	opacity: 1.0
}
.xwt-sample13_rightPressed{
	background: transparent url('../images/texticonbutton/1by3/tablecontextualtoobar/pressed_right.png') no-repeat;
	width: 3px;
	height: 24px;
	opacity: 1.0
}


/* style the button state  normal/hover/pressed*/


.xwt-sample13_buttonwrapper13{   
   margin:0px;
   padding:0px;
   /* background-color:none;  */
   opacity: 1.0;
}
.xwt-sample13_ButtonContents13{
   padding:0px;
   margin:-1px -3px; /* have to set left right margin to -3px and top/bottom -1px. Firefox-3.5   don't know why FF at 3px*/
   border-color:white;	
   background-color:transparent;   
}
