.masterbrand .xwtSingleTF{
	width:345px;
}

.masterbrand .xwtSingleTF .dijitTextBox .dijitInputField input {
	font-family:Arial, Helvetica !important;		
}

.masterbrand .xwtSingleTF-hint{	
	/*margin-right:0px;
	  padding-right:1px;*/	 
	margin-left:0px;
	padding-left:0px;
	float:left;
	width:130px;
	font-weight: normal;

}

.masterbrand .xwtSingleTF-hint .dijitInputField input,
.masterbrand .xwtSingleTF-hint .dijitTextArea, 
.masterbrand .xwtSingleTF-hint .dijitTextBox, 
.masterbrand .xwtSingleTF-hint .xwtValidationTextBox, 
.masterbrand .xwtSingleTF-hint .dijitComboBox, 
.masterbrand .xwtSingleTF-hint .dijitSpinner {
	margin-right:0px;
	/*margin-left:-2px;*/
	width:130px;
}


.masterbrand .xwtSingleTF-hint .dijitTextArea, 
.masterbrand .xwtSingleTF-hint .dijitTextBox, 
.masterbrand .xwtSingleTF-hint .dijitSpinner {
	/*padding-left:2px;*/
}

.masterbrand .xwtSingleTF-time{
	width:103px;
	margin-right:3px !important;
	margin-left:5px !important;
}

.dj_ie .masterbrand .xwtSingleTF-time{
	margin-right:4px !important;
	margin-left:7px !important;
}


.masterbrand .xwtSingleTF-time .dijitInputField input,
.masterbrand .xwtSingleTF-time .dijitTextArea, 
.masterbrand .xwtSingleTF-time .dijitTextBox, 
.masterbrand .xwtSingleTF-time .xwtValidationTextBox, 
.masterbrand .xwtSingleTF-time .dijitComboBox, 
.masterbrand .xwtSingleTF-time .dijitSpinner {
	margin-right:2px;
	margin-left:0px;
	width:100px;	
}

.masterbrand .xwtSingleTF-time .dijitTextArea, 
.masterbrand .xwtSingleTF-time .dijitTextBox, 
.masterbrand .xwtSingleTF-time .dijitSpinner {
	/*Dennis removed - 03/23/2010 - no need for set the left padding to 0*/
	/*padding-left:0px;*/		
}


.masterbrand .xwtSingleTF-zone{
	/*padding-right:1px;*/
	margin-right:3px !important;
	margin-left:1px;
	width:50px;
}

.dj_ie .masterbrand .xwtSingleTF-zone{
	/*padding-right:1px;*/
	margin-right:4px !important;
	margin-left:0px;
	width:50px;
}
.masterbrand .xwtSingleTF-zone .dijitInputField input,
.masterbrand .xwtSingleTF-zone .dijitTextArea, 
.masterbrand .xwtSingleTF-zone .dijitTextBox, 
.masterbrand .xwtSingleTF-zone .xwtValidationTextBox, 
.masterbrand .xwtSingleTF-zone .dijitComboBox, 
.masterbrand .xwtSingleTF-zone .dijitSpinner {
	width:50px;	
}

.masterbrand .xwtSingleTF-zone .dijitTextArea, 
.masterbrand .xwtSingleTF-zone .dijitTextBox, 
.masterbrand .xwtSingleTF-zone .dijitSpinner {
	padding-left:0px;
}


/* subpress Timefield, Timezone  errorIcon*/
.masterbrand .xwtSingleTF .xwtSingleTF-time .dijitValidationIcon,
.masterbrand .xwtSingleTF .xwtSingleTF-zone .dijitValidationIcon{
	position: relative;
	height: 0px !important;
	width: 0px !important;
}

/* style composite errorIcon*/
.masterbrand .xwtSingleTF .dijitValidationIcon{
	display:inline-block;
	float:left;
	margin-left:1px;
	margin-right:3px;
	position:relative;
	right:0;
	visibility:visible;
	top:2px;	
}

.dj_ie .masterbrand .xwtSingleTF .dijitValidationIcon{
	display:inline-block;
	float:left;
	margin-left:0px;
	margin-right:4px;
	position:relative;
	right:0;
	visibility:visible;	
}

.masterbrand .xwtSingleTFWithTimeZone .dijitValidationIcon{
	display:inline-block;
	float:left;
	margin-left:2px;
	position:relative;
	right:0;
	visibility:visible;	
}

.masterbrand .xwtTimeFieldErrorIconNodeHide{
		display:none;
}

.masterbrand .xwtTimeZoneAllignment{
		float:left;
		display:none;
}

.masterbrand .xwtTimeFieldAndHintAllignment{
		float:left;		
}

.masterbrand .xwtTimeZoneDisplay{
		display:block;
}

/*.masterbrand .notification  .xwtSingleTF .dijitTextBoxError{
	margin-right:0px;
}

.masterbrand .notification .xwtSingleTF .dijitComboBoxError {
	margin-right:0px;
	margin-left:5px;
}*/

/* This is critical to make IE UI work*/
.dj_ie .masterbrand .xwtSingleTF  .dijitValidationIcon {
	float:left;
	margin-top:2px;
}

/* prevent IE7 shift textbox left when notification error occur*/
.dj_ie7 .masterbrand .xwtSingleTF  .dijitInlineTable{
	display:block;
}
.xwtSingleTF .xwtValidationIconTextHide {
	display:none;
	
}
.xwtSingleTF .xwtValidationIconTextShow {
	display:none;	
	float:left !important;
	margin-left:1px !important;
	margin-right:3px !important;
	position:relative !important;
	right:0 !important;
	visibility:visible !important;
	top:2px !important;	
}
.dijit_a11y .xwtSingleTF .xwtValidationIconTextShow {
	display:block !important;
	
}

.dijit_a11y .xwtSingleTF .xwtValidationIconTextHide {
	display:none !important;		
}
.dijit_a11y .xwtSingleTF .dijitValidationIconText {
	display:none !important;		
}
