.masterbrand .xwtRating {
	padding: 0 6px;
}
.masterbrand .xwtRating ul {
	padding:0;
	margin:0;
	float: left;
}

.masterbrand .xwtRating .xwtRatingStar {
	display:inline-block;
	background-image:url(../images/form/reboot_star_empty.png);
	background-position:left center;
	position:relative;
	height:12px;
	width:15px;
	float:left;
	margin: 1px 2px 1px 0;
}


.masterbrand .xwtRating .xwtRatingStarChecked {
	background-image:url(../images/form/reboot_orange_star_whole.png);
}

.masterbrand .xwtRating .xwtRatingStarHalfChecked {
	/*TODO: Replace Half Star Image here */
   /* border: 1px solid #bbbbbb;	*/
   background-image:url(../images/form/reboot_orange_star_half.png);
}	

.masterbrand .xwtRating .xwtRatingStarHover {
	background-image:url(../images/form/reboot_blue_star_whole.png); 
}

.dj_ie6 .masterbrand .xwtRating xwtRatingStar {
     background: ;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/form/reboot_star_empty.png',sizingMethod='crop');
}

.dj_ie6 .masterbrand .xwtRating xwtRatingStarChecked {
     background: ;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/form/reboot_orange_star_whole.png',sizingMethod='crop');
}

.dj_ie6 .masterbrand .xwtRating xwtRatingStarHover {
     background: ;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/form/reboot_blue_star_whole.png',sizingMethod='crop');
}

.masterbrand .xwtRating .totalRatings {
	float: left;
	padding: 0 0 0 6px;
}