/*
 * Note
 * For Firefox, it is supposed to use css3 round corner technique. However, for some reason, the BUTTON can not be
 * set to fixed heigh 21px. 2010-09-04, Jefhu set to use image for now.
 * 
 */

.masterbrand .xwtButtonIconOnly {				
	margin: 0px 10px;
}


.masterbrand .xwtButtonShowIcon{
	margin: 0px -3px 0 3px;
}

/* ie8 support start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*
btn_left_new.png 
new_reboot_btn_left.png
5 layers order is 
default - normal 0
default - hover 20
default - pressed 40

regular - normal 60
regular - hover  80
regular - pressed 100

disabled - 120
*/

/* FF : remove dashed border  -- actually this destroys keyboard accessibility on second thought */
.masterbrand .xwt-TextButtonNode BUTTON::-moz-focus-inner
{
    /*  a11y issue? no outline in outer div     */    
    border:none !important;
	 -moz-outline:none !important;    
}

/*ie if there is only icon in BUTTON */
.masterbrand .xwtButtonIconOnly {				
	margin: 0px 1px 0px 5px
}
/* BEGIN: buttons */
.masterbrand  .xwt-TextButtonContents{
	padding:0px;
}

/* BEGIN: normal states */
.masterbrand .xwt-TextButton,
.masterbrand .dijitButtonDisabled {
	padding: 0;
	
}

/* put a outline dotted box when BUTTON is clicked */
.masterbrand .xwt-TextButtonActive,
.masterbrand .defaultButtonActive{
	outline: #000 dotted thin;
}

.masterbrand .xwt-TextRight .xwt-TextButtonNode,
.masterbrand .defaultButton .xwt-TextRight .xwt-TextButtonNode {	
	border: none;
	height: 21px;
	padding: 0 0 0 0; 

    background: url("../images/form/button_right.png") no-repeat 100% -63px;

    text-decoration: none;
	overflow: hidden;
	text-align:center;
	vertical-align:middle;	
}

/* assets sharing the image */
.masterbrand .xwt-TextButtonNode BUTTON,
.masterbrand .defaultButton .xwt-TextButtonNode BUTTON { 
    background: url("../images/form/button_left.png") repeat-x 0 -63px;
  	border: none;
	height: 21px;
	/* 1 */
	padding: 0px 0px 0px 0px; 
	/*width:100px; *//* set BUTTON width here */
	margin:0px 2px 0px 0px; /*set padding-right x to show smooth right round bracket */
}


.dj_ie .masterbrand .xwt-TextButtonNode BUTTON {
	margin:0px 2px 0px 0px; /*set padding-right x to show smooth right round bracket */
}

.masterbrand .xwt-TextButtonNode .xwt-TextButtonText {
	color: #454545;
	line-height: normal;
	font-size: 12px;
	font-family:  	Arial, Helvetica;
	font-weight: normal;	 	
	text-align:center;	
	text-align:center;	
	padding:0px 7px 2px 8px;  /* text left-right distant to the BUTTON brackets */
	
}

.dj_ie .masterbrand .xwt-TextButtonNode .xwt-TextButtonText {
    margin-bottom:	1px;
	padding:0px 7px 0px 9px;  /* text l-r distant to the BUTTON brackets */
	/* ie8 will not take .dj_ie8, only dj_ie */
}
.masterbrand .xwt-TextButtonText {
	margin-top: 0px; /* -2px; */
}

.masterbrand .xwt-TextButtonNode BUTTON { 
	padding: 0px 0px 0px 2px;   /*set left padding 2px, to let outline box be symmetrical to the right */
}

.dj_ie7 .masterbrand .xwt-TextButtonNode BUTTON { 
	padding: 0px 0px 0px 2px;   
}

.dj_ie7 .masterbrand .xwt-TextButtonNode .xwt-TextButtonText {
	padding:0px 0.25em 0px 0.3em;
}






/* END: nxwt-Text states */


/* BEGIN: hover states */

.masterbrand .xwt-TextButtonHover  .xwt-TextButtonNode {
    cursor: pointer;
	background-position: 100% -105px;
}


/* .masterbrand .xwt-TextButtonNodeHover  BUTTON  {*/
.masterbrand .xwt-TextButtonHover  .xwt-TextButtonNode  BUTTON  {
	background-position: 0 -105px;
}

/* END: hover states */


/* BEGIN: focused states */

.masterbrand .xwt-TextButtonFocused  .xwt-TextButtonNode {
    cursor: pointer;
	background-position: 100% -105px;
}


/* .masterbrand .xwt-TextButtonNodeHover  BUTTON  {*/
.masterbrand .xwt-TextButtonFocused  .xwt-TextButtonNode  BUTTON  {
	background-position: 0 -105px;
}

/* END: focused states */







/* BEGIN: active states */
.masterbrand .xwt-TextButtonActive BUTTON {
	background-position: 0px -126px;
    outline: none; /* no outline dotted box when BUTTON is clicked. There is outline in outter div */
    text-decoration: none;
}


.masterbrand .xwt-TextButtonActive BUTTON {	
	background-position: 0px -126px;
	border:none;
}

.masterbrand .xwt-TextButtonActive .xwt-TextButtonNode {
	background-position: 100% -126px;
	
}

/* 
IE handle BUTTON press start
https://support.sitepen.com/issues/20294
In Internet explorer, when mouse press on button, the text shift south-east 1 px.
That behavior cannot be modified by script or CSS. Have to adjust background position and text padding to compensate
*/
.dj_ie8 .masterbrand .xwt-TextButtonNode button:active{	
	background-position: 1px -125px;
	outline:none;
}
.dj_ie8 .masterbrand .defaultButton  .xwt-TextButtonNode button:active{	
	background-position: 1px -125px;
	outline:none;
}

.dj_ie .masterbrand .dijitDisabled .xwt-TextButtonNode button:active{	
	background-position: 0px -120px;
}

.dj_ie8 .masterbrand .xwt-TextButtonNode button:focus,
.dj_ie8 .masterbrand .defaultButton  .xwt-TextButtonNode button:focus{	
	outline:none; /*make sure there is no outline box when ie BUTTON is in focus */
}
/* IE BUTTON press, text swift handling  end  */ 
.dj_ie8 .masterbrand .defaultButtonActive  .xwt-TextButtonNode {	
	background-position: 0px -40px;
}


.masterbrand .xwt-TextActive .xwt-TextButtonText {
	color:  #454545;	
}


/* BEGIN: disabled states */

.masterbrand .xwt-TextButtonDisabled .xwt-TextButtonNode BUTTON { 
	background-position: 0 -147px;
}

.masterbrand .xwt-TextButtonNode button:disabled,
.masterbrand .dijitComboButtonDisabled .dijitButtonContents,
.masterbrand .dijitButtonDisabled button,
.masterbrand .dijitDropDownButtonDisabled button,
.masterbrand .dijitButtonDisabled .xwt-TextButtonNode button:hover {
    background-position: 0px -147px;
	opacity:1;
}


.masterbrand .xwt-TextButtonDisabled .xwt-TextButtonNode,
.masterbrand .dijitDropDownButtonDisabled .dijitButtonNode,
.masterbrand .dijitComboButtonDisabled .dijitDownArrowButton,
.masterbrand .dijitDownArrowDisabled .dijitDownArrowButton {	
	background-position: 100% -147px;
}

/* get IE to show disabled */


.dj_ie .masterbrand .xwt-TextButtonDisabled .xwt-TextButtonContents {
	background-position: 0px -147px;
}

.masterbrand .dijitDisabled .xwt-TextButtonText {
	color: #8E8E8E;
}

/* END: disabled states */


/*new end*/



.masterbrand .defaultButton .xwt-TextRight .xwt-TextButtonNode {	
    background-position: 100% -84px;
}

/* left side btn */
.masterbrand .defaultButton .xwt-TextButtonNode BUTTON { 
    background-position: 0 -84px;
}

.masterbrand .xwt-TextButtonNode .xwt-TextButtonText,
.masterbrand .defaultButton .xwt-TextButtonNode .xwt-TextButtonText,
.masterbrand .defaultButtonHover .xwt-TextButtonNode .xwt-TextButtonText{			
	color: #000;	
    border:none;
}





/*in IE, there are two slick images. when mouse hover/press on the right BUTTON part, change left BUTTON part as well*/
.masterbrand .defaultButtonHover .xwt-TextRight .xwt-TextButtonNode,
.masterbrand .defaultButtonFocused .xwt-TextRight .xwt-TextButtonNode{	
	background-position: 100% -105px;
}

.masterbrand .defaultButtonHover .xwt-TextButtonNode BUTTON,
.masterbrand .defaultButtonFocused .xwt-TextButtonNode BUTTON {
	background-position: 0 -105px;
}

.masterbrand .defaultButtonActive .xwt-TextRight .xwt-TextButtonNode{	
	background-position: 100% -126px;
}
.masterbrand .defaultButtonActive .xwt-TextRight .xwt-TextButtonNode button{	
	background-position: 0 -126px;
}


/*
.masterbrand .xwt-TextButtonHover .xwt-TextRight .xwt-TextButtonNode{	
	background: url(../images/button/new_reboot_btn_right.png) no-repeat top right;
	background-position: 100% -80px;
}

.masterbrand .xwt-TextButtonHover .xwt-TextButtonNode BUTTON {
	background-position: 0 -80px;
}

.masterbrand .xwt-TextButtonHover.xwt-TextButtonFocused .xwt-TextRight .xwt-TextButtonNode
{
	background-position: 100% -80px;	
}
.masterbrand .xwt-TextButtonFocused .xwt-TextRight .xwt-TextButtonNode{	
	background-position: 100% -80px;
}

.masterbrand .xwt-TextButtonActive .xwt-TextRight .xwt-TextButtonNode{	
	
	background-position: 100% -100px;
}

.masterbrand .xwt-TextButtonActive .xwt-TextButtonNode BUTTON {
	
	background-position: 0 -100px;
}

.masterbrand .xwtButtonBorder.xwt-TextButton.xwt-TextButtonFocusedHover button{
	background-position: 0 -80px;
}


*/


/* END: buttons */

/* Toggle Link css*/

.masterbrand .toggleLink A:hover,
.masterbrand .toggleLink A.linkHoverState {
    text-decoration:underline;
    cursor: pointer;
}

.masterbrand .toggleLink A:hover {
    text-decoration:underline !important;
}

.masterbrand .toggleLink  A.toggleLinkSelected {
	color : #000000;
    cursor: default;
}

.masterbrand .toggleLink  A.toggleLinkSelected:HOVER {
	color : #000000;
    cursor: default;
}


/* dont cue user when mousing over an active togglelink */
.masterbrand .toggleLink  A.toggleLinkSelected:hover {
    text-decoration:none !important;
    color : #000000 !important;
}


.masterbrand .toggleLink  A.toggleLinkUnselected {
	color : #0088C2;
}


.masterbrand .toggleLink  A.toggleLinkFocused {
    outline: 1px #333 dotted;
}


.masterbrand .toggleLink .toggleLinkSeparator {
    color: #000;
    padding: 0px 7px;
}
                                          
/* highlight states : integration with the grid */
.masterbrand .dojoxGridRowSelected .dojoxGridCell .toggleLinkSeparator {
    color: #fff;
}

.masterbrand .dojoxGridRowOver .dojoxGridCell .toggleLink A,
.masterbrand .dojoxGridRowOver .dojoxGridCell .toggleLink .toggleLinkSeparator  {
    /* leave color as the default */
    color: #000;
    }


/* firefox needs to manually disable link, IE knows how */
.masterbrand .toggleLink  A.toggleLinkDisabled {
    cursor: not-allowed;
    color: #969696;
    text-decoration: none !important;
}


.masterbrand .toggleLink  A.toggleLinkDisabled:hover {
    text-decoration: none !important;
    cursor: not-allowed !important;
    color: #969696 !important;
}

.masterbrand .toggleLink  A.toggleLinkDisabled.toggleLinkFocused {
    outline: none;
}


/* end of togglelink css */	

/* Toggle Button Css */


.dijitButton.littleTabSpacing {
	margin-left: 5px !important;
	margin-right: 5px !important;
	} 


.masterbrand DIV.toggleButtonGroup {
    display:inline-block;
    
    *display:inline;
    zoom:1;
	white-space: nowrap;
 }


.masterbrand .toggleButtonGroup BUTTON .dijitEditorIcon{
       padding: 0px;
       left:0px;
	   width: 12px;
	   height: 12px;
	   text-align:left;
	   background-repeat:no-repeat;
}
.dj_ie .masterbrand .toggleButtonGroup BUTTON .dijitEditorIcon{
       
}
.masterbrand .toggleButtonGroup .dijitButtonSelected BUTTON .dijitEditorIcon{
	 background-position: 0px -12px !important;
} 
.masterbrand .toggleButtonGroup .dijitButtonHover BUTTON .dijitEditorIcon{
	 background-position: 0px -24px !important;
}

.masterbrand .toggleButtonGroup .dijitButtonFocused BUTTON .dijitEditorIcon{
	 background-position: 0px -36px !important;
}
	
.masterbrand .toggleButtonGroup .dijitDisabled BUTTON .dijitEditorIcon{
	background-position: 0px -48px !important;
}

.masterbrand .toggleButtonGroup .xwt-TextButtonNode {
    background:none;	
 	height:20px;
 	color:#000 !important;
}

/* Gradient Background for images using css3*/
.masterbrand .toggleButtonGroup .xwt-TextButtonNode BUTTON {
	
	margin:0px 0px 0px 2px;
	color:#000;
	-moz-border-radius:4px;
	border-radius:4px;
	
	-webkit-border-radius:4px;
	border: solid 1px #ccd5db;
	background: #fff;
	background-image:none;
}
.masterbrand .toggleButtonGroup .xwt-TextButtonHover .xwt-TextButtonNode BUTTON {
	
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dbe1e5));
	background: -moz-linear-gradient(top,  #ffffff,  #dbe1e5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dbe1e5');

	
}
.masterbrand .toggleButtonGroup .dijitButtonSelected .xwt-TextButtonNode BUTTON {
	background: #c9ced1;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9ced1), to(#ffffff));
	background: -moz-linear-gradient(top,  #c9ced1,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9ced1', endColorstr='#ffffff');
	
}	


/*End of Toggle Button Css */


/* Add the following rule for in case when Alert/Dialog only has on one button. Make it looks like in focus*/
.masterbrand .defaultButtonActive .xwt-TextButtonNode .xwt-TextButtonText{
    cursor: default;
}
	