.masterbrand .carouselContainer {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* Horizontal classes */
.masterbrand .horizontalCarouselCarousel {
	position: absolute;
	height: 16px;
	width: 100%;
}

.masterbrand .horizontalCarouselStatus {
	margin-right: 20px;
	height: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
	text-align: right;
	float: right;
}

.masterbrand .horizontalCarouselView {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 20px 9px 0px 9px;
}

.masterbrand .horizontalCarouselIcon {
	cursor: pointer;
}

/* Vertical classes */
.masterbrand .verticalCarouselCarousel {
	position: absolute;
	width: 12px;
	height: 100%;
	padding-left: 4px;
	padding-right: 4px;
}

.masterbrand .verticalCarouselStatus {
	position: absolute;
	width: 10px;
	padding: 5px;
	height: 100%;
}

.masterbrand .verticalCarouselView {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.masterbrand .verticalCarouselIcon {
	cursor: pointer;
}

/* Misc. */
.masterbrand .carouselIconContainer {
	position: absolute;
}

.masterbrand .carouselIconContainer img {
	cursor: pointer;
}

/* Items */
.masterbrand .carouselItems {
	list-style: none;
	padding: 0;
	margin: 0;
}

.masterbrand .carouselItem {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.masterbrand .horizontalCarouselContainer .horizontalCarouselStatus .horizontalCarouselIcon	{
	width: 10px;
	height: 10px;
	background-image: url("../images/carousel/carousel-page-indicator-reboot.png");
	background-position: 0px -1px;
	margin-right: 5px;
	float: left;
}
.masterbrand .horizontalCarouselContainer .horizontalCarouselStatus .horizontalCarouselIcon:HOVER {
	background-position: 0px -12px;
}

.masterbrand .horizontalCarouselContainer .horizontalCarouselStatus .horizontalCarouselIcon.activePageState {
	background-position: 0px -23px;
}
/* active icon */
.masterbrand .horizontalCarouselContainer .horizontalCarouselStatus .horizontalCarouselIcon.activePageState:hover {
	cursor: default;
	background-position: 0px -23px;
}


/* horizontal*/

.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel {
	xz-index: -1;
	xheight: 200px;
	xheight: 50%;
}

/* nav sprite */
.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIcon
{
	background-image: url("../images/carousel/carousel-page-navigation.png");
	width: 9px;
	height: 16px;
}

/* icons */
.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIconPrevious {
	background-position: 0px 0px;
	float: left;
}

.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIconPrevious:hover	{
	background-position: 0px -16px;
}

/* when clicking or using the arrow key to start the scrolling of the items */
.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIcon.carouselIconPrevious.carouselIconPreviousActive {
	background-position: 0px -32px;
}

.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIconNext {
	background-position: -9px 0px;
	float: right;
}

.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIconNext:hover {
	background-position: -9px -15px;
}

/* when clicking or using the arrow key to start the scrolling of the items */
.masterbrand .horizontalCarouselContainer .horizontalCarouselCarousel .carouselIcon.carouselIconNext.carouselIconNextActive {
	background-position: -9px -32px;
}

.masterbrand .horizontalCarouselContainer .carouselItems .carouselItem {
}


/* vertical*/

.masterbrand .verticalCarouselContainer .verticalCarouselStatus .verticalCarouselIcon	{
	width: 10px;
	height: 10px;
	display: inline-block;
	background-image: url("../images/carousel/carousel-page-indicator-reboot.png");
	background-position: 0px 0px;
	margin-top: 5px;
}
.masterbrand .verticalCarouselContainer .verticalCarouselStatus .verticalCarouselIcon:HOVER {
	background-position: 0px -10px;
}

.masterbrand .verticalCarouselContainer .verticalCarouselStatus .verticalCarouselIcon.activePageState {
	background-position: 0px -20px;
}

/* nav sprite */
.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIcon {
	background-image: url("../images/carousel/carousel-page-navigation.png");
	width: 9px;
	height: 16px;
}

/* icons */
.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIconPrevious {
	background-position: 0px 0px;
	position: absolute;
	bottom: 0px;
}

.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIconPrevious:hover	{
	background-position: 0px -16px;
}

/* when clicking or using the arrow key to start the scrolling of the items */
.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIcon.carouselIconPrevious.carouselIconPreviousActive {
	background-position: 0px -32px;
}

.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIconNext {
	background-position: -9px 0px;
	float: right;
	position: absolute;
	top: 0px;
}

.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIconNext:hover {
	background-position: -9px -15px;
}

/* when clicking or using the arrow key to start the scrolling of the items */
.masterbrand .verticalCarouselContainer .verticalCarouselCarousel .carouselIcon.carouselIconNext.carouselIconNextActive {
	background-position: -9px -32px;
}

.masterbrand .verticalCarouselContainer .carouselItems .carouselItem {
}