<div style="background-color:d9e3e9#;width:auto;max-height:125px;height:auto;padding:0px;border:0px ;position:relative;display:none;">

<table style=" width:auto;overflow:auto;border:0px solid #999;margin-top:8px; margin-bottom:8px;margin-left:5px;margin-right:5px">
	<tr>
		<td style="width:650px;text-align:left;vertical-align:top;word-wrap:break-word;white-space: normal;" class="textboxLabelTd">
			<div dojoType=xwt.widget.form.Label name="name" dojoAttachPoint="bugDescription">
			</div>
			<br />
			<div dojoType=xwt.widget.form.Label name="name" dojoAttachPoint="releaseNotes">
			</div>


		</td>
		<td style="width:120px;text-align:left;vertical-align:top;" class="textboxLabelTd">
			<div dojoType=xwt.widget.form.Label name="name" dojoAttachPoint="serviceRequests">
			</div>
		</td>
		<td style="width:200px;text-align:left;vertical-align:top;" class="textboxLabelTd">
			<div dojoType=xwt.widget.form.Label name="name" dojoAttachPoint="bugFixedIn">
				
			</div>
		</td>
		<td style="width:150px;text-align:right;vertical-align:top;" class="textboxLabelTd">
		</td>
	<tr>
</table>

</div>
