.dijitDialog {
	background:  url("images/dialog/background.png") repeat-x top left;
	border: 1px solid #7eabcd;	
	padding: 0px;
	-webkit-box-shadow: 0px 5px 10px #000000;
}
.dijitDialog .dijitDialogPaneContent {	
	border:none;	
	padding: 8px 16px 8px 16px;
	font-family: Arial, Helvetica;
	font-size: 12pt;
}
.dijitDialogTitleBar {	
	padding: 8px 8px 8px 8px;
	cursor: move;
	outline:0; 
}
.dijitDialogTitle {
	font-family: Arial, Helvetica;
	font-size: 12pt;
	color: #0c5078;
	font-weight: bold;	
}
.dijitDialogCloseIcon {	
	background: url(images/dialog/close.png) no-repeat right top;	
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie6 .masterbrand .dijitDialogCloseIcon {
	background : url(images/dialog/close.png)  no-repeat right top;
}
.dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	display: none;
	background: transparent !important;
}

.dijitDialogUnderlay {
	background: #000000;
	opacity: 0.6;
}

.dj_ie .dijitDialogUnderlay {
	filter: alpha(opacity=60);
}


