.label {
	color: #000000; 
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;	
}

.textbox {
	background-color: #ffffff;
	padding: 2px 3px;
	border-color: #53636a;
	border-width: 1px;
	height: 21px;	
	margin-left: 8px;
	margin-right: 6px;
	border-style: solid;
	
}
.ipv6textbox {
	background-color: #ffffff;
	padding: 2px 3px;
	border-color: #53636a;
	border-width: 1px;
	height: 21px;	
	margin-left: 8px;
	margin-right: 8px;
	border-style: solid;
	width: 300px;
}

.onFocus {          
	border-color: #406b9b;
	border-width: 1px;
	padding: 2px 3px;
	margin-left: 8px;
	margin-right: 8px;
	border-style: solid;	
}

.onBlur {
	border-color: #f90000;
	border-width: 1px;
	padding: 2px 3px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #fff4f4;	
	border-style: solid;
}

.loadingErrorIcon {
      background: transparent url('images/messagebox/AlertCritical16MGry.gif') no-repeat;
      height: 16px;
      width: 16px;   
      float:right;
}



