.masterbrand  .DropShadowLarge {
	border-collapse: collapse;
	margin-left:-7.6px;
}

.masterbrand  .DropShadowLarge td {
	margin: 0;
	padding: 0;
}

.masterbrand  .DropShadowLarge td.r1c1 {
	height: 3px;
	padding-left: 8px;
	background: url(images/quickview/top_round_left.png) top left no-repeat;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r1c1 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview/new/top_round_left.png',sizingMethod='scale');
}.


.masterbrand  .DropShadowLarge .r1c2 {
	height: 3px;
	background: url(images/quickview/top_center.png) top left repeat-x;
	overflow: hidden;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r1c2 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview/new/dsl_top.png',sizingMethod='scale');
}

.masterbrand  .DropShadowLarge .r1c3 {
	height: 3px;
	padding-left: 8px;
	background: url(images/quickview/top_round_right.png) top left no-repeat;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r1c3 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview/new/dsl_topright.png',sizingMethod='scale');
}

.masterbrand  .DropShadowLarge .r2c1 {
	background: url(images/quickview/dsl_left.png) top left no-repeat;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r2c1 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview/new/dsl_left.png',sizingMethod='crop');
}

.masterbrand  .DropShadowLarge .r2c2 {
}

.masterbrand  .DropShadowLarge .r2c3 {
	padding-left: 8px;
	background: url(images/quickview/dsl_right.png) top left no-repeat;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r2c3 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_right.png',sizingMethod='crop');
}

.masterbrand  .DropShadowLarge .r3 {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

.masterbrand  .DropShadowLarge .r3 .r3c1 {
	height: 13px;
	padding-left: 16px;
	background: url(images/quickview/dsl_bottomleft.png) top left no-repeat;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r3c1 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_bottomleft.png',sizingMethod='scale');
}

.masterbrand  .DropShadowLarge .r3 .r3c2 {
	height: 13px;
	width: 100%;
	background: url(images/quickview/dsl_bottom.png) top left repeat-x;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r3c2 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_bottom.png',sizingMethod='scale');
}

.masterbrand  .DropShadowLarge .r3 .r3c3 {
	height: 13px;
	padding-left: 16px;
	background: url(images/quickview/dsl_bottomright.png) top left no-repeat;
}

.dj_ie6 .masterbrand  .DropShadowLarge td.r3c3 {
	background: none;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_bottomright.png',sizingMethod='scale');
}

.masterbrand  .dsl_roundedCorners {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

.masterbrand  .dsl_roundedCorners td{
	padding: 0;
	margin: 0;
}

.masterbrand  .dsl_roundedCorners td.dsl_leftside,
.masterbrand  .dsl_roundedCorners td.dsl_rightside{
	background-position: bottom;
	background-repeat: repeat;
	min-width: 3px;
	width: 3px;
}

.dj_ie6 .masterbrand  .dsl_roundedCorners td.dsl_leftside,
.dj_ie6 .masterbrand  .dsl_roundedCorners td.dsl_rightside{
	width: 0px;
	padding-left: 3px;
}

.masterbrand  .dsl_roundedCorners td.dsl_back {
	background-position: bottom;
	background-repeat: repeat;
	vertical-align: top;
	/*height: 200px;*/
}

.masterbrand  .dsl_roundedCorners .dsl_rc_topmiddle {
	background-repeat: repeat-x;
	padding-top: 3px;
	/*width: 500px;*/
}

.masterbrand  .dsl_roundedCorners .dsl_rc_bottommiddle {
	background: url(images/quickview/bot_center.png);
	background-position: bottom;
	background-repeat: repeat-x;
	padding-top: 3px;
}

.masterbrand  .dsl_roundedCorners .dsl_rc_topleft_corner {
	background: url(images/quickview/dsl_rc_topleft_corner_back.png) top left no-repeat;
	height: 3px;
	width: 3px;
	vertical-align: bottom;
}

.dj_ie6 .masterbrand  .dsl_roundedCorners .dsl_rc_topleft_corner {
	background: none top left no-repeat;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_rc_topleft_corner_back.png',sizingMethod='scale');
}

.masterbrand  .dsl_roundedCorners .dsl_rc_topleft_corner div {
	float: right;
}

.masterbrand  .dsl_roundedCorners .dsl_rc_topright_corner {
	background: url(images/quickview/dsl_rc_topright_corner_back.png) top right no-repeat;
	height: 3px;
	width: 3px;
	vertical-align: bottom;
}

.dj_ie6 .masterbrand  .dsl_roundedCorners .dsl_rc_topright_corner {
	background: none top right no-repeat;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_rc_topright_corner_back.png',sizingMethod='scale');
}

.masterbrand  .dsl_roundedCorners .dsl_rc_bottomleft_corner {
	background: url(images/quickview/bot_round_left.png) bottom left no-repeat;
	height: 3px;
	width: 3px;
	vertical-align: top;
}

.dj_ie6 .masterbrand  .dsl_roundedCorners .dsl_rc_bottomleft_corner {
	background: none bottom left no-repeat;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_rc_bottomleft_corner_back.png',sizingMethod='scale');
}

.masterbrand  .dsl_roundedCorners .dsl_rc_bottomleft_corner div {
	float: right;
}

.masterbrand  .dsl_roundedCorners .dsl_rc_bottomright_corner {
	background: url(images/quickview/bot_round_right.png) bottom right no-repeat;
	height: 3px;
	width: 3px;
	vertical-align: top;
}

.dj_ie6 .masterbrand  .dsl_roundedCorners .dsl_rc_bottomright_corner {
	background: none bottom right no-repeat;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//dsl_rc_bottomright_corner_back.png',sizingMethod='scale');
}

.masterbrand  .dsl_roundedCorners .dsl_topColor {
	background-position: 0px -1px;
	background-repeat: repeat-x;
	height: 2px;
	width: 2px;
	overflow: hidden;
}

.masterbrand  .dsl_roundedCorners .dsl_bottomColor {
	background-position: bottom;
	background-repeat: repeat-x;
	height: 2px;
	width: 2px;
	overflow: hidden;
}

.masterbrand  .dsl_topColor,
.masterbrand  .dsl_bottomColor,
.masterbrand  .dsl_rc_topmiddle,
.masterbrand  .dsl_leftside,
.masterbrand  .dsl_back,
.masterbrand  .dsl_rightside,
.masterbrand  .dsl_rc_bottommiddle {
	background-image: url(images/quickview/new/black_bg_75_pct.png);
}

.dj_ie6 .masterbrand  .dsl_topColor,
.dj_ie6 .masterbrand  .dsl_bottomColor,
.dj_ie6 .masterbrand  .dsl_rc_topmiddle,
.dj_ie6 .masterbrand  .dsl_leftside,
.dj_ie6 .masterbrand  .dsl_back,
.dj_ie6 .masterbrand  .dsl_rightside,
.dj_ie6 .masterbrand  .dsl_rc_bottommiddle {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/quickview//black_bg_75_pct.png',sizingMethod='scale');
}
