/*
 * textboxselector css
 */

.masterbrand .xwtTextboxSelector .dijitTextArea, 
.masterbrand .xwtTextboxSelector .dijitTextBox, 
.masterbrand .xwtTextboxSelector .xwtValidationTextBox {
padding:2px 20px 2px 2px;
}

.masterbrand .xwtTextboxSelector {
	/*position: relative;*/
	display:inline-block !important;
	
	/*border: 1px solid green;*/
}

.masterbrand .xwtTextboxSelector .buttonnode{
	 margin-left:-30px;
}

.dj_ie .masterbrand .xwtTextboxSelector .buttonnode{
	margin-left:-25px;	
}

.masterbrand .xwtTextboxselector .dijitInputField input,
.masterbrand .xwtTextboxselector .dijitTextArea,
.masterbrand .xwtTextboxselector .dijitTextBox,
.masterbrand .xwtTextboxselector .xwtValidationTextBox,
.masterbrand .xwtTextboxselector .dijitComboBox,
.masterbrand .xwtTextboxselector .dijitSpinner {
	/*margin:0 8px 10px;*/
	margin:0px 8px;
}

.masterbrand .xwtTextboxSelectorContainer .dijitTooltipContainer {
	padding: 0px;
	margin: 0px;
	border: 0px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}
.masterbrand .xwtTextboxSelectorContainer.dijitTooltipDialog .dijitTooltipContainer	{
	margin-top: -10px;
    background-color: transparent;
}
.masterbrand .xwtTextboxSelectorContainer.dijitTooltipDialog .dijitTooltipConnector	{
	background: none;
	background-image: none;
}

.masterbrand .xwtTextboxSelector .xwt-icondropdownbutton .xwt-IconDropDownButtonContents{
	padding:0px;
	border-color:white;
	background-color:transparent;
	/*margin:-1px -30px;*/
}
.dj_ie7 .masterbrand .xwtTextboxSelector .xwt-icondropdownbutton .xwt-IconDropDownButtonContents{
	padding-right:5px;
	border-color:white;
	background-color:transparent;
	margin:-1px -26px;
}

.masterbrand .xwtQuickPickIcon {
	background: url(images/objectselector/os_quickpicker_arrow.png) no-repeat;
	width: 16px;
	height: 16px;
/* 	margin: 3px; */
/*    margin-left: -39px; */
}

.dj_ie .masterbrand .xwtQuickPickIcon {	
	margin-bottom: 2px;
}

.dj_ie7 .masterbrand .xwtQuickPickIcon {
	background: url(images/objectselector/os_quickpicker_arrow.png) no-repeat;
	height: 16px;
	margin-bottom: -5px;
	margin-right: -5px;
	width: 16px;
}
/*
 * textboxselector css
 */




.xwtTextboxselector .dijitInputField input, 
.xwtTextboxselector .dijitTextArea, 
.xwtTextboxselector .dijitTextBox, 
.xwtTextboxselector .xwtValidationTextBox, 
.xwtTextboxselector .dijitComboBox, 
.xwtTextboxselector .dijitSpinner {
	/*margin:0 8px 10px;*/
	margin:0px 8px;
}
